

.background{
    background: rgb(2,0,36);
    background: linear-gradient(36deg, rgba(2,0,36,1) 0%, rgba(37,41,58,1) 50%, rgba(48,56,76,1) 100%);
    height:100vh;
    width:100%;
    display: block;
}

.group {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 15px;
    padding: 0 10px;
    border: 1px #222831 !important;

    .input {
    width: 300px;
        background-color:transparent;
        border-radius: 10px;
        padding:12px 0px;
        outline: none;
        &:focus ~ label,
        &:valid ~ label {
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5s ease;
            transition: all 0.5s ease;
}
    }
}
.LoginForm{
display: grid;
justify-content: center;
align-items: center;
width: 350px;
justify-items: center;
}

.wrapper{
    height:450px;
    width:800px;
    display: flex;
    margin: 3% 25%;
    border-radius: 15px;
    overflow: hidden;
    background-color: aliceblue;
    justify-content:center ;
    box-shadow: -8px 13px 100px rgba(0, 0, 0, 0.5);
}

.btn {
    color: #d0fffa;
    background-color: #004bbb;
    outline: none;
    padding: 10px 20px;
    border-radius: 12px !important;
    font-weight: 500;
    margin: 15px 0 !important;
    border: 3px solid #004bbb;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;   
    &:hover {
        color: white;
        background-color: rgb(255, 0, 51);
        border: 3px solid rgb(255, 0, 81);
    
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }
}

.LoginForm{
border: 5px black;
display: grid;
justify-content: center;
align-items: center;
height:300px;
width: 400px;
justify-items: center;
} 


.SideImage{
    width: 400px;
    z-index: 2;
    background-image:url('/public/Login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Profile{
    background-image:url('/public/Profile.png'); 
    height:90px;
    width:90px;
    background-size: contain;
    background-repeat: no-repeat;
}
.h3{
    padding: 10px;
    margin: 0;
}
/* .LoginForm{
    border: 5px black;
display: grid;
justify-content: center;
align-items: center;
width: 350px;
justify-items: center;
} */
