.onClick {
    position: absolute;
    top: 0%;
    left: 1%;
    outline: none;
    color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding: 150px 150px;
    cursor: pointer;
    transition: 0.5s;
}

.onClick::-webkit-file-upload-button {
    visibility: hidden;
}

::-webkit-scrollbar {
    width: 15px;

}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(255, 120, 30);
    border-radius: 50px;
    height: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 64, 64);
    border-radius: 50px;
}