.onClick {
    position: absolute;
    top: 0%;
    left: 1%;
    outline: none;
    color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding: 150px 150px;
    cursor: pointer;
    transition: 0.5s;
}

.onClick::-webkit-file-upload-button {
    visibility: hidden;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #02AAB0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00CDAC, #02AAB0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00CDAC, #02AAB0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #DD5E89;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F7BB97, #DD5E89);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F7BB97, #DD5E89);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #FF512F;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DD2476, #FF512F);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DD2476, #FF512F);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}